* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(35, 30, 26, 0);
  border: 0px solid rgba(255, 255, 255, 0.332);
  color: #EBDBB2;
  transition-property: background-color;
  transition-duration: .5s;
  border-radius: 6px;
}

#custom-arch {
  color: #EBDBB2;
  margin-left: 20px;
  font-size: 17px;
}

#window {
  color: #ffffff;
  text-shadow: 0px 0px 5px #000000;
  margin-left: 10px;
}

#mpris,
#tray,
#bluetooth,
#workspaces {
  background-color: #32302f;
  border-radius: 9999px;
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 10px
}

#workspaces button {
  color: #6c6c6c;
  border-radius: 9999px;
  transition: all 0.3s ease;
  padding: 7;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 900;
}

#workspaces button.active {
  /*    background-color: #954a04; */
  color: #EBDBB2;
  text-shadow: 0px 0px 10px #ffffff;
}

#workspaces button:hover {
  text-shadow: 0px 0px 5px #EBDBB2;
}

#workspaces button.urgent {
  background-color: #b30906;
}


#mpris {
  background-color: #32302f;
  color: #d4be98;
  min-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  text-shadow: 0px 0px 1px #ffffff;
}

#tray {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 9999px;
}

/*#bluetooth {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 0 9999px 9999px 0;
}*/

/*#battery {
  padding: 0 10px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 0 9999px 9999px 0;
}*/

#clock.time {
  background-color: #5e5e5e;
  font-weight: 600;
  border-radius: 9999px 0 0 9999px;
  margin-left: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0 10px;
}

#clock.date {
  background-color: #954a04;
  font-weight: 600;
  border-radius: 0 9999px 9999px 0;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0 10px;
  margin-right: 10px;
}

#pulseaudio {
  background-color: #32302f;
  border-radius: 9999px 0 0 9999px;
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 12px;
  padding-right: 5px;
}

#pulseaudio.microphone {
  background-color: #32302f;
  border-radius: 0 9999px 9999px 0;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 0px;
  padding-right: 12px;
}

#cpu {
  background-color: #32302f;
  border-radius: 9999px 0 0 9999px;
  margin-left: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

#memory {
  background-color: #32302f;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

#temperature {
  background-color: #32302f;
  border-radius: 0 9999px 9999px 0;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 5px;
  padding-left: 8px;
  padding-right: 10px;
}

#taskbar {
  background-color: transparent;
  margin-left: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

#taskbar button:hover {
  background-color: #32302f;
  border-radius: 9999px;
}

#taskbar button.active {
  background-color: transparent;
}

#custom-notification {
  font-family: "JetBrainsMono Nerd Font";
  margin-right: 20px;
}