* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 14px
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: transparent;
  border-radius: 5px;
}

.notification-row {
  background: transparent;
  outline: none;
  margin: 0px;
  padding: 0;
  border-radius: 10px;
}

.notification {
  background: #32302f;
  margin: 5px 5px;
  border-radius: 10px;
}

.notification-content {
  background: #32302f;
  padding: 0px;
  border-radius: 10px;
  margin: 8px;
}

/*.close-button {
  background: #d79921;
  color: #32302f;
  text-shadow: none;
  padding: 0;
  border-radius: 99px;
  margin-top: 5px;
  margin-right: 5px;
}

.close-button:hover {
  box-shadow: none;
  background: #fabd2f;
  transition: all .15s ease-in-out;
  border: none
}*/

.notification-action {
  color: #ebdbb2;
  border: 0px solid #85796f;
  border-top: none;
  border-radius: 5px;
  background: transparent;
}

.notification-default-action:hover,
.notification-action:hover {
  color: #ebdbb2;
  background: transparent;
}

.summary {
  padding-top: 7px;
  font-size: 13px;
  color: #ebdbb2;
  margin-right: 30px
}

.time {
  font-size: 11px;
  color: #d79921;
  margin-right: 30px
}

.body {
  font-size: 12px;
  color: #ebdbb2;
}

.control-center {
  background: #32302f;
  border: 1px solid #85796f;
  border-radius: 10px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0;
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: alpha(black, 0)
}

.widget-title {
  color: #f9f5d7;
  background: #3c3836;
  padding: 10px 10px;
  margin: 10px 10px 5px 10px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.widget-title>button {
  font-size: 1rem;
  color: #f9f5d7;
  text-shadow: none;
  background: #3c3836;
  box-shadow: none;
  border-radius: 5px;
}

.widget-title>button:hover {
  background: #d79921;
  color: #32302f;
}

.widget-dnd {
  background: #3c3836;
  padding: 5px 10px;
  margin: 5px 10px 10px 10px;
  border-radius: 5px;
  font-size: large;
  color: #f2e5bc;
}

.widget-dnd>switch {
  border-radius: 4px;
  background: #665c54;
}

.widget-dnd>switch:checked {
  background: #d79921;
  border: 1px solid #d79921;
}

.widget-dnd>switch slider {
  background: #32302f;
  border-radius: 5px
}

.widget-dnd>switch:checked slider {
  background: #32302f;
  border-radius: 5px
}

.widget-label {
  margin: 10px 10px 5px 10px;
}

.widget-label>label {
  font-size: 1rem;
  color: #f9f5d7;
}

.widget-mpris {
  color: #f9f5d7;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
}

.widget-mpris>box>button {
  border-radius: 5px;
}

.widget-mpris-player {
  border-radius: 5px;
  margin: 10px
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1.25rem
}

.widget-mpris-subtitle {
  font-size: 1.1rem
}

.widget-buttons-grid {
  font-size: x-large;
  padding: 5px;
  margin: 5px 10px 10px 10px;
  border-radius: 5px;
  background: #3c3836;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 3px;
  background: #32302f;
  border-radius: 5px;
  color: #f9f5d7;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: #d79921;
  color: #32302f;
}

.widget-menubar>box>.menu-button-bar>button {
  border: none;
  background: transparent
}

.topbar-buttons>button {
  border: none;
  background: transparent
}